aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
discord.py==1.7.3
ffmpeg-python==0.2.0
future==0.18.2
idna==3.3
multidict==6.0.2
mutagen==1.45.1
pycryptodomex==3.14.1
python-dotenv==0.19.2
typing_extensions==4.1.1
websockets==10.1
yarl==1.7.2
youtube-dl==2021.12.17
yt-dlp==2022.2.4